<!-- Javascript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script async src="{{ site.baseurl_javascripts }}min/main.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script>
    //aload.js - Loads images, background images, scripts, styles, iframes, videos and audios asynchronously
    function aload(t){"use strict";var e="data-aload";return t=t||window.document.querySelectorAll("["+e+"]"),void 0===t.length&&(t=[t]),[].forEach.call(t,function(t){t["LINK"!==t.tagName?"src":"href"]=t.getAttribute(e),t.removeAttribute(e)}),t}
</script>

{% if page.layout == 'home' %}
<!-- for home page -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.0/imagesloaded.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.1.0/masonry.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.0/remodal.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.min.js"></script>
<script async src="{{ site.baseurl_javascripts }}min/homepage.min.js"></script>
{% elsif page.layout == 'cv' %}
<!-- not import any script for CV page-->
{% else %}
<!-- for blog page -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.4.1/snap.svg-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.10/js/min/perfect-scrollbar.min.js"></script>
<script async src="{{ site.baseurl_javascripts }}min/post.min.js"></script>
<script async src="{{ site.baseurl_javascripts }}min/sidebar.min.js"></script>
{% endif %}



<script>
    $(document).ready(function(){

    });

    // Show modal toggle after scrolling 300px
//    $(document).scroll(function() {
//        $('.modal-toggle-group').toggleClass('active', $(document).scrollTop() >= 300);
//    });
</script>
